label {
    margin-top: 10px;
}
label:first-of-type {
    margin-top: 0;
}
input[type="submit"],
input[type="reset"] {
    margin: 10px 5px 0 0;
    padding: 5px;
    cursor: pointer;
}
fieldset {
    margin-top: 10px;
}
fieldset:first-of-type {
    margin-top: 0;
}
.d-block {
    display: block !important;
}
.d-flex {
    display: flex !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.text-underline {
    text-decoration: underline !important;
}