* {
    background: dimgray;
}
h1 {
    text-align: center;
    color: #e63946;
}
.italic {
    font-style: italic;
}
.box {
    padding: 20px;
    color: #fff;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 5px;
    float: left;
}
.box p,
.box p .italic {
    background: inherit;
}

.red {
    background: crimson;
}
.pink {
    background: deeppink;
}
.rgb {
    background: rgb(131, 56, 236);
}
.rgba {
    background: rgba(131, 56, 236, .5);
}
.hexadecimal {
    background: #0091ad;
}
.hexadecimal-transparent {
    background: #0090ad7e;
}
.hsl {
    background: hsl(195, 100%, 50%)
}
.hsla {
    background: hsla(195, 100%, 50%, .5)
}